@import 'tailwindcss/theme' layer(theme);
@import 'tailwindcss/preflight' layer(base);
@import 'tailwindcss/utilities' layer(utilities);

@plugin '@tailwindcss/typography';

@plugin 'daisyui' {
	themes:
		emerald --default,
		dracula --prefersdark;
}

svg {
	fill: currentColor;
}

@media (prefers-reduced-motion) {
	::view-transition-group(*),
	::view-transition-old(*),
	::view-transition-new(*) {
		animation: none !important;
	}
}
